services:
  php:
    image: ghcr.io/endroid/docker-php:main
    environment:
      APP_RUNTIME: Runtime\FrankenPhpSymfony\Runtime
      COMPOSER_HOME: /.composer
    volumes:
      - .:/app
      - ~/.claude:/.claude
      - ~/.claude.json:/.claude.json
      - ~/.composer:/.composer
      - ./.docker/php/Caddyfile:/etc/frankenphp/Caddyfile
      - ./.docker/php/localhost.pem:/etc/frankenphp/localhost.pem
      - ./.docker/php/localhost-key.pem:/etc/frankenphp/localhost-key.pem
      - ~/.gitconfig:/.gitconfig
      - ~/.gitignore_global:/.gitignore_global
      - ~/.ssh:/.ssh
    depends_on:
      - postgres
      - redis
    ports:
      - "443:443" # Symfony
      - "443:443/udp"
      - "8001:8001" # Laravel
      - "8001:8001/udp"
    tty: true
    user: '1000'

  node:
    image: ghcr.io/endroid/docker-node:main
    environment:
      NODE_ENV: development
    volumes:
      - .:/app
      - ~/.claude:/.claude
      - ~/.claude.json:/.claude.json
      - ~/.gitconfig:/home/node/.gitconfig
      - ~/.gitignore_global:/home/node/.gitignore_global
      - ~/.npm:/home/node/.npm
      - ~/.ssh:/home/node/.ssh
    depends_on:
      - postgres
      - redis
    ports:
      - '3001:3000'
      - '5173:5173'
    tty: true

  fusionauth:
    image: fusionauth/fusionauth-app:1.62.1
    environment:
      DATABASE_URL: jdbc:postgresql://postgres:5432/fusionauth
      DATABASE_ROOT_USERNAME: root
      DATABASE_ROOT_PASSWORD: root
      DATABASE_USERNAME: fusionauth
      DATABASE_PASSWORD: fusionauth
      FUSIONAUTH_APP_MEMORY: 256M
      FUSIONAUTH_APP_RUNTIME_MODE: development
      FUSIONAUTH_APP_KICKSTART_FILE: /usr/local/fusionauth/kickstart/kickstart.json
    volumes:
      - ./.docker/fusionauth/kickstart:/usr/local/fusionauth/kickstart
    depends_on:
      - postgres
    ports:
      - '9011:9011'

  redis:
    image: valkey/valkey:8
    volumes:
      - ./.docker/redis/data:/data
    expose:
      - '6391'

  postgres:
    image: postgres:18.0-alpine3.22
    environment:
      POSTGRES_DB: application
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    volumes:
      - ./.docker/postgres/data:/var/lib/postgresql/data
    expose:
      - '5432'

  blackfire:
    image: blackfire/blackfire:2
    environment:
      # Do not change: instead set these envs on your host
      BLACKFIRE_SERVER_ID: ~
      BLACKFIRE_SERVER_TOKEN: ~
      BLACKFIRE_CLIENT_ID: ~
      BLACKFIRE_CLIENT_TOKEN: ~
