{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-green-300 border-green-600 border-b p-4 m-4 rounded align-middle" data-controller="confetti" data-action="click->confetti#explode">
        Endroid.nl
    </div>
{% endblock %}
