{% extends 'base.html.twig' %}

{% block body %}
    <table class="data-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Carl</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Evie</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
